basePath: /
definitions:
  blog.GetBlogBySlugResponse:
    properties:
      data:
        $ref: '#/definitions/types.BlogWithContent'
      msg:
        type: string
    type: object
  blog.RealtedBLogsResponse:
    properties:
      data:
        items:
          $ref: '#/definitions/types.RealtedBlog'
        type: array
      msg:
        type: string
    type: object
  health.HelloResponse:
    properties:
      data:
        type: integer
      msg:
        type: string
    type: object
  homepage.ArticlesResponse:
    properties:
      data:
        items:
          $ref: '#/definitions/types.Blog'
        type: array
      msg:
        type: string
    type: object
  homepage.FeaturedResponse:
    properties:
      data:
        $ref: '#/definitions/types.Blog'
      msg:
        type: string
    type: object
  homepage.PressResponse:
    properties:
      data:
        items:
          $ref: '#/definitions/types.Press'
        type: array
      msg:
        type: string
    type: object
  types.Blog:
    properties:
      author_name:
        type: string
      author_profile_url:
        type: string
      blog_created_at:
        type: string
      blog_id:
        type: integer
      blog_thumbnail_url:
        type: string
      category:
        items:
          type: string
        type: array
      description:
        type: string
      read_time:
        type: integer
      title:
        type: string
    type: object
  types.BlogWithContent:
    properties:
      author_name:
        type: string
      author_profile_url:
        type: string
      blog_created_at:
        type: string
      blog_id:
        type: integer
      blog_thumbnail_url:
        type: string
      category:
        items:
          type: string
        type: array
      content:
        type: string
      description:
        type: string
      read_time:
        type: integer
      title:
        type: string
    type: object
  types.ErrResponse:
    properties:
      err:
        type: string
      msg:
        type: string
    type: object
  types.Press:
    properties:
      category:
        items:
          type: string
        type: array
      description:
        type: string
      external_url:
        type: string
      press_id:
        type: integer
      press_published_at:
        type: string
      press_thumbnail_url:
        type: string
      publisher_name:
        type: string
      publisher_profile_img_link:
        type: string
      title:
        type: string
    type: object
  types.RealtedBlog:
    properties:
      author_name:
        type: string
      author_profile_url:
        type: string
      blog_created_at:
        type: string
      blog_id:
        type: integer
      blog_thumbnail_url:
        type: string
      category:
        items:
          type: string
        type: array
      description:
        type: string
      title:
        type: string
    type: object
host: blogapi.lykstage.com
info:
  contact:
    name: https://github.com/LYK-INC/blog-backend-go
  description: This is a backend api server
  license:
    name: MIT License
  title: blog server api
  version: "1.0"
paths:
  /:
    get:
      consumes:
      - application/json
      description: returns server time
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/health.HelloResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/types.ErrResponse'
      summary: Get Health check status
      tags:
      - Health
  /blog/{blog_slug}:
    get:
      consumes:
      - application/json
      description: returns Blog Data
      parameters:
      - description: Blog Slug
        in: path
        name: blog_slug
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/blog.GetBlogBySlugResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/types.ErrResponse'
      summary: Get Blog By Slug
      tags:
      - Blog
  /blog/related/{blog_id}:
    get:
      consumes:
      - application/json
      description: returns Realted Blog Data
      parameters:
      - description: Blog Id
        in: path
        name: blog_id
        required: true
        type: string
      - description: int valid
        in: query
        maximum: 100
        minimum: 1
        name: limit
        type: integer
      - description: int valid
        in: query
        maximum: 100
        minimum: 0
        name: skip
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/blog.RealtedBLogsResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/types.ErrResponse'
      summary: Get Related Blog By Slug
      tags:
      - Blog
  /home/articles:
    get:
      consumes:
      - application/json
      description: returns array of articles
      parameters:
      - description: int valid
        in: query
        maximum: 100
        minimum: 1
        name: limit
        type: integer
      - description: int valid
        in: query
        maximum: 100
        minimum: 0
        name: skip
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/homepage.ArticlesResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/types.ErrResponse'
      summary: Get homepage articles
      tags:
      - Homepage
  /home/featured:
    get:
      consumes:
      - application/json
      description: returns featured article
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/homepage.FeaturedResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/types.ErrResponse'
      summary: Get featured article
      tags:
      - Homepage
  /home/press:
    get:
      consumes:
      - application/json
      description: returns array of articles
      parameters:
      - description: int valid
        in: query
        maximum: 100
        minimum: 1
        name: limit
        type: integer
      - description: int valid
        in: query
        maximum: 100
        minimum: 0
        name: skip
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/homepage.PressResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/types.ErrResponse'
      summary: Get types.Press articles
      tags:
      - Homepage
swagger: "2.0"
